<!-- quiz2pw/templates/index.html -->
<html>
	<head>
		<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet"> 
		<title>Python - baza testów</title>
		<meta charset="utf-8"/>
		<link rel="stylesheet" href="static/style.css?ver=2" />
		<link rel="stylesheet" href="static/css/fontello.css" />
	</head>
	<body>
		<div id="about">
			<h1>Baza testów - projekt wykonany w języku Python</h1> 
			"Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
			sed do eiusmod tempor incididunt ut labore et dolore magna 
			aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
			ullamco laboris nisi ut aliquip ex ea commodo consequat. 
			Duis aute irure dolor in reprehenderit in voluptate velit 
			esse cillum dolore eu fugiat nulla pariatur. Excepteur sint 
			occaecat cupidatat non proident, sunt in culpa qui officia 
			deserunt mollit anim id est laborum."
			
			<h2>Wybierz test</h2>
		</div>
		
		<div id="quizy">
			<div class="quiz">
				<a href="/matematyka">
				<div class="quiz_category">Matematyka</div>
				<div class="quiz_icon"><i class="icon-pi-outline"></i></div>
				<div class="quiz_title">Matematyka</div>
				</a>
			</div><div class="quiz">
				<a href="/polski">
				<div class="quiz_category">Jezyk polski</div>
				<div class="quiz_icon"><i class="icon-book"></i></div>
				<div class="quiz_title">Język polski</div>
				</a>
			</div><div class="quiz">
				<a href="/sieci">
				<div class="quiz_category">Sieci komputerowe</div>
				<div class="quiz_icon"><i class="icon-network"></i></div>
				<div class="quiz_title">Sieci komputerowe</div>
				</a>
			</div><div class="quiz">
				<a href="/fizyka">
				<div class="quiz_category">Fizyka</div>
				<div class="quiz_icon"><i class="icon-pi-outline"></i></div>
				<div class="quiz_title">Fizyka</div>
				</a>
			</div><div class="quiz">
				<a href="/chemia">
				<div class="quiz_category">Chemia</div>
				<div class="quiz_icon"><i class="icon-pi-outline"></i></div>
				<div class="quiz_title">Chemia</div>
				</a>
			</div><div class="quiz">
				<a href="/geografia">
				<div class="quiz_category">Geografia</div>
				<div class="quiz_icon"><i class="icon-map-o"></i></div>
				<div class="quiz_title">Geografia</div>
				</a>
			</div><div class="quiz">
				<a href="/biologia">
				<div class="quiz_category">Biologia</div>
				<div class="quiz_icon"><i class="icon-pi-outline"></i></div>
				<div class="quiz_title">Biologia</div>
				</a>
			</div><div class="quiz">
				<a href="/bazy">
				<div class="quiz_category">Bazy danych</div>
				<div class="quiz_icon"><i class="icon-database"></i></div>
				<div class="quiz_title">Bazy danych</div>
				</a>
			</div><div class="quiz">
				<a href="/historia">
				<div class="quiz_category">Histotria</div>
				<div class="quiz_icon"><i class="icon-book-open"></i></div>
				<div class="quiz_title">Historia</div>
				</a>
			</div>
		
		
		<div id="footer">
			Projekt ZST Mielec
		</div>
	</body>
</html>

